body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

a {
  color: #2487ce;
  text-decoration: none;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h1.landing-header, h2.landing-header, h3.landing-header {
  font-family: "Poppins", sans-serif;
    text-align: center;
}

#hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    color: #124265;
    font-family: "Poppins", sans-serif;
}

.dropdown-menu h6 {
  font-weight: 600;
}

#hero-lead {
  margin: 20px 20px 30px 20px;
  font-size: 1.20rem;
  font-weight: 400;
}

#hero-action-buttons .dropdown-menu {
  transform: none !important;
  top: inherit !important;
}

#hero-ci-button button, #hero-ci-button button.btn-primary:hover,
#hero-ci-button button.btn-primary:active, #hero-ci-button button.btn-primary:visited {
  background-color: #5bd4ff !important;
  border-color: #5bd4ff !important;

}

#hero-sample-size-button button, #hero-sample-size-button button.btn-primary:hover,
#hero-sample-size-button button.btn-primary:active, #hero-sample-size-button button.btn-primary:visited {
  background-color: #38b2ff !important;
  border-color: #38b2ff !important;
}

#hero-confidence-level-button button, #hero-confidence-level-button button.btn-primary:hover,
#hero-confidence-level-button button.btn-primary:active, #hero-confidence-level-button button.btn-primary:visited {
  background-color: #2589e5 !important;
  border-color: #2589e5 !important;
}

.footer-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8rem;
    text-align: center;
}

.estimation-panel {
  text-align: center;
  margin-top: 30px;
}

.estimation-panel h2 {
    margin-bottom: 16px;
}

.estimation-panel h4 {
    margin-top: 20px;
}

.estimation-panel input {
    width: 100%;
    text-align: center;
}

.estimation-panel p {
    margin-bottom: 0;
}