/* General styling: */

* {
  font-family: "Times New Roman", Times, serif;
}

H2{
  text-align: center;
  margin: 2% 0 2% 0;
}

Footer{
  text-align: center;
}

.page_content {
  overflow-x: hidden;
  transition: margin-left .5s;
  position: static;
  margin: 1%;
  background: white;
  z-index: -1;
}

.website_background {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,245,245,1) 100%);
  display: block;
}

/* Right and Left panel from test pages */

.left_pane {
  background-color: #78c1ff;
  color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  margin: 5px
}

.left_pane_content {
  margin: 4px;
}

.right_pane {
  background-color: #78c1ff;
  color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  margin: 5px
}

.right_pane_content {
  text-align: center;
  margin: 4px;
}

/* sliders: */

.rc-slider-handle {
  background-color: #2871cc;
  border-color: rgb(102, 107, 255);
}

.rc-slider-handle:hover {
  border-color: rgb(173, 176, 255);
}

.calculate_button{
  background-color: #2871cc;
}